#Archivo de configuracion para la aplicación de DWPuntoVenta

#Configuracion global
nombreApp=DWPuntoVenta
nombreAppComercial=Miscelanea Ramirez
nombreOwner=Familia Ramirez
nombreDeveloper=Daniel Ortega

#Configuracion BD
dbHost=127.0.0.1
dbPort=3306
dbName=dwpuntoventa
dbUser=usrptoventa
dbPass=usrptoventa
dbDriver=org.gjt.mm.mysql.Driver
dbUrl=jdbc:mysql://
